{% extends 'base.html.twig' %}

{% block title %}Gestion du menu{% endblock %}
{% block description %}
    Gérer le menu!
{% endblock %}
{% block body %}
    {{ include('Modal/MealCreate.html.twig') }}
    <section>
        <h2 class="menu">Menu</h2>
        <div class="row">
            {% for category in categories %}
                <div class="col-sm-6 col-lg-4">
                    <h4>{{ category.name }}
                    </h4>
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th>Plat</th>
                            <th>Prix</th>
                            <th>Vendu au</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for meal in category.meals %}
                            <tr class="col-3">
                                <td >
                                    <strong>{{ meal.name }}</strong>
                                </td>
                                <td>{{ meal.price }}</td>
                                <td>{{ meal.sellTo.value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="open-modal btn btn-primary"
                            data-category-title="{{ category.name }}"
                            data-category-id="{{ category.id }}">Ajouter un(e) {{ category.name }}</button>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.open-modal').click(function(){
                $('#MealCreateModal').modal('toggle');
                $('#MealCreateModal').find('.modal-title').text(this.dataset.categoryTitle);
                $('#MealCreateModal').find('#meal_category').val(this.dataset.categoryId);
            });
    </script>

{% endblock %}
